<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
		<title>${1}</title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
        
        <!-- Framework CSS -->
        <link rel="stylesheet" href="blueprint/screen.css" media="screen, projection" />
        <link rel="stylesheet" href="blueprint/print.css"  media="print" />
        <!--[if IE]><link href="blueprint/ie.css" rel="stylesheet" /><![endif]-->
        <link rel="stylesheet" href="blueprint/plugins/fancy-type/screen.css" media="screen, projection" charset="utf-8" />

        <!-- HTML5 Shiv http://code.google.com/p/html5shiv/ -->
        <!--[if lt IE 9]> <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->

        <link rel="shortcut icon" href="/favicon.ico">
    </head>
    <body>
        <div class="container">
            ${2}       
        </div>
    </body>
</html>
