[submodule "bundle/sparkup"]
	path = bundle/sparkup
	url = git://github.com/rstacruz/sparkup.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = http://github.com/tpope/vim-surround.git
[submodule "bundle/snipmate.vim"]
	path = bundle/snipmate.vim
	url = http://github.com/msanders/snipmate.vim.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = http://github.com/tpope/vim-rails.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/vim-session"]
	path = bundle/vim-session
	url = git://github.com/xolox/vim-session.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
