snippet vcomp
	<template>
	</template>
	<script>
		export default {
			name: '${1}',
			data: function() {
				return {
				}
			}, 
			methods: {
			}
		}
	</scipt>
	<style scoped>
	</style>
endsnippet
